
<table>
  <tr>
    <td>
		<p>
		  <strong>Title:</strong>
		  <%= @comment.title %>
		</p>

		 <p>
		  <strong>Name:</strong>
		  <%= @comment.name %>
		</p>

		<p>
		  <strong>Text:</strong>
		  <%= @comment.text %>
		</p>
	</td>
  </tr>
</table>

<hr>

<p>
    <%= link_to 'Edit', edit_comment_path(@comment)%> 
    <%= link_to 'Back', comments_path%>
</p>