<span id="contact-tutor-header">
  <h3 id="title-tutor"> Contact your tutor: </h3>
  <img id= "contact-tutor" src="http://icons.iconarchive.com/icons/martz90/hex/256/email-2-icon.png" height="46" width="46">
</span>

<hr>

<%= link_to 'Home', root_path %>

<hr>

<% @tutors.each do |tutor| %>
<p>
	<table id="tutor-table">
    <th> Contact info </th>
		<td><%= tutor.name %></td>
		<td>Email: <%= tutor.email %></td>
	</table>
<% end %>

<table id="tutor-feedback">

  <th> Send feedback: </th>
  <tr>
    <td>
      <%= form_for :comment, url: comments_path do |f| %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>

      <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
      </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>
    </td>
  </tr>
</table>


