<!-- Incluir logo de la plataforma <a href src="/tefl_logo.jpg">-->
	
	<div id="home-header">
		<h1> TEFL Platform for tutors & students </h1>

		<div id="motto"><p> Educative platform for students and tutors with the aim of fostering English learning. </p>
		</div>
	</div>

	<hr>

	<nav id="nav_bar">
			
			<span id="nav_bar">
					<img id="student" src="http://icons.iconarchive.com/icons/martz90/hex/256/favourites-icon.png" height="36" width="36"> 
					<%= link_to 'Students', students_path %>

					<img id= "contact" src="http://icons.iconarchive.com/icons/martz90/hex/256/email-2-icon.png" height="36" width="36">
				<%= link_to 'Contact', controller: "students", action: "contact" %>

					<img id="games" src="http://icons.iconarchive.com/icons/martz90/hex/256/gamehub-icon.png" height="36" width="36">
				<%= link_to 'Games', controller: "students", action: "games" %>

					<img id="tools" src="http://icons.iconarchive.
					com/icons/martz90/hex/256/duolingo-icon.png" height="36" width="36">
				<%= link_to 'Tools', controller: "students", action:"tools" %>

					<img id="media" src="http://icons.iconarchive.com/icons/martz90/hex/256/poweramp-icon.png" height="36" width="36">
				<%= link_to 'Media', controller: "students", action: "media" %>

					<img id="posts" src="http://icons.iconarchive.com/icons/martz90/hex/256/wordpress-icon.png" height="36" width="36">
				<%= link_to 'Posts', controller: "posts", action: "index" %>
			</span>
	</nav>

	<hr>

<h3 id="welcome">Welcome back!</h3>


		    		
							<h3 id="latest_posts"> Latest posts: </h3>
								<% @posts.each do |post| %> 
								<table id="table_posts"> 
									<div id="posts-titles">
										<tr>
									    	<th>Title</th>
											<th>Name</th>
											<th>Text</th>
										</tr>
									</div>

									<div id="posts-content">
										<tr>
											<td><%= post.title %></td>
											<td><%= post.name %></td>
											<td><%= post.text %></td>

											<td><button type='button' id='like-button'> Like </button></td>
											<td id="liked-mark"></td>
										</tr>
									</div>
								</table>

							<% end %>

		    			
		    	
		    				<div id="comments_home">
								<h3 id="latest_feedback">Latest feedback</h3>
									<% @comments.each do |comment| %> 
									<table width: "250px" height: "250px" id="table_comments">
										<tr>
											<th>Title</th>
											<th>Name</th>
											<th>Text</th>
										</tr>

										<tr>
											<td><%= comment.title %></td> 
											<td><%= comment.name %></td>
											<td><%= comment.text %></td>
											
											<td><button type='button' id='like-button'> Like </button></td>
											<td id="liked-mark"></td>
										</tr>
									</table>
								<% end %>
							</div>

<script type="text/javascript">

	$('button#like-button').on('click', function() {
		$('td#liked-mark').css('background-color', 'rgb(73,203,214)');
	});

</script>




