<!DOCTYPE html>
<html>
<head>
</head>

<body>
			
		<h1 id="platform-name"><b> TEFL Platform for teachers and students </b></h1>

		<div id="motto"><p> Educative platform fostering English learning. </p>
		</div>

	<hr>
	<h3 id="welcome">Welcome back!</h3>

<article>
	<span id="recent-posts-header">
       <h3 id="post-title"> <img id="posts" src="http://icons.iconarchive.com/icons/martz90/hex/256/wordpress-icon.png" height="36" width="36"> Recent Posts </h3>
      </span>

      <table> 
        <div id="posts-content">
        	 <% @posts.each do |post| %> 
        	<tr>
            <td><b><%= post.name %></b></td>
          </tr>
          <tr>
            <td><%= post.title %></td> 
          <tr>
            <tr>
                 <td><%= Time.now %></td>
            </tr>
          <tr>
        		<td><%= post.text %></td>
            <td><button type='button' id='like-button'> Like </button></td>
                                      <td id="likes"></td>
        	</tr>

        	<% end %>
        </div>
										
        <table id="post-comments">
        <tr>
          <%= form_for :post, url: posts_path do |f| %>

            <th> Post your ideas!</th> 
            
            <tr>
              <td>
                 <p>
                    <%= f.label :title %><br>
                    <%= f.text_field :title %>
                  </p>

                  <p>
                    <%= f.label :name %><br>
                    <%= f.text_field :name %>
                  </p>
                 
                  <p>
                    <%= f.label :text %><br>
                    <%= f.text_area :text %>
                  </p>
                 
                  <p>
                    <%= f.submit %>
                  </p>
              </td>
            </tr>
            <% end %>
              <table>
														
									</div>
					</article>
	
	 <script type="text/javascript">

        $('button#like-button').on('click', function() {
          alert('Thanks for your support!');
        });
    </script>
</body>
<footer>
		David Navarro, 2015
</footer>
</html>






