<!DOCTYPE html>
<html>
<head>
</head>

<body>
			
	<div id="home-header">
		<h1><b> TEFL Platform for teachers and students </b></h1>

		<div id="motto"><p> Educative platform fostering English learning. </p>
		</div>
	</div>

	<hr>

	<nav id="nav_bar">
			<div class="container">
				<div class="row">
						<div class="col-md-8">
								<span id="nav_bar">

										<img id="teachers" src="http://icons.iconarchive.com/icons/martz90/hex/256/bookmark-icon.png" height="36" width="36"> 
										<%= link_to 'Teachers', teachers_path %>

										<img id="student" src="http://icons.iconarchive.com/icons/martz90/hex/256/favourites-icon.png" height="36" width="36"> 
										<%= link_to 'Students', students_path %>

										<img id="tools" src="http://icons.iconarchive.
										com/icons/martz90/hex/256/duolingo-icon.png" height="36" width="36">
									<%= link_to 'Tools', controller: "students", action:"tools" %>
										

										<img id="games" src="http://icons.iconarchive.com/icons/martz90/hex/256/gamehub-icon.png" height="36" width="36">
									<%= link_to 'Games', controller: "students", action: "games" %>

										<img id="media" src="http://icons.iconarchive.com/icons/martz90/hex/256/poweramp-icon.png" height="36" width="36">
									<%= link_to 'Media', controller: "students", action: "media" %>

										<img id="posts" src="http://icons.iconarchive.com/icons/martz90/hex/256/wordpress-icon.png" height="36" width="36">
									<%= link_to 'Posts', controller: "posts", action: "index" %>

										<img id= "contact" src="http://icons.iconarchive.com/icons/martz90/hex/256/email-2-icon.png" height="36" width="36">
									<%= link_to 'Contact', controller: "students", action: "contact" %>
								</span>
						</div>
				</div>
			</div>
	</nav>

	<hr>

<h3 id="welcome">Welcome back!</h3>

<article>
	<div id="home-header">
	<h3 id="latest_posts"> Latest posts </h3>
	</div>
	
									<div id="posts-titles">
											<table> 
												<tr>
											    <th>Name</th>
													<th>Title</th>
													<th>Text</th>
												</tr>
											</div>

											<div id="posts-content">
												<% @posts.each do |post| %> 
														<tr>
													    <td><%= post.name %></td>
															<td><%= post.title %></td>
															<td><%= post.text %></td>
															<td><button type='button' id='like-button'> Like </button></td>
		                                    <td id="likes"></td>
													</tr>		
															<% end %>

											<table>
														<th> Leave a comment for the class </th>
														  <tr>
														    <td>
														      <%= form_for :comment, url: comments_path(@comment), method: :patch do |f| %>
														        <p>
														          <%= f.label :title %><br>
														          <%= f.text_field :title %>
														        </p>

														        <p>
														          <%= f.label :name %><br>
														          <%= f.text_field :name %>
														        </p>

														        <p>
														          <%= f.label :text %><br>
														          <%= f.text_area :text %>
														        </p>

														        <p>
														          <%= f.submit %>
														        </p>
														      <% end %>
														      </td>
														  </tr>
														</table>

												</div>

														<tr>
															<td>
														
													<div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="1"></div>
												</td>
														</tr>
											</table><br>
									</div>

									
		<!--
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3";
						fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
	</script>
		--> 

	 <script type="text/javascript">

        $('button#like-button').on('click', function() {
          alert('Thanks for your support!');
        });
    </script>
</body>
<footer>
	David Navarro, 2015
</footer>
</html>






