<span id="student-header">
	<h1 id="student-title"><img id="student-header" src="http://icons.iconarchive.com/icons/martz90/hex/256/favourites-icon.png" height="46" width="46"> Your Class </h1>
</span>

<hr>

<div id="home-link">
<%= link_to 'Home', root_path %>
</div>

<hr>

<div ="students_details">
	<p> 
		<% @students.each do |student| %>
	<table>
		<tr>
			<td><img src="http://icons.iconarchive.com/icons/martz90/hex/256/favourites-icon.png" height="46" width="46"></td>
			<td><b><%= student.name %></b></td>
			<td>Email: <%= student.email %></td>
			<td>Age: <%= student.age %></td>
			<td>Level: <%= student.level %></td>
		<!--
			<td>Progress: <%= student.progress %></td>
			<td>Score: <%= student.score %></td>
		-->
			<td>Comment: <%= student.comment %></td>
		</tr>
	</table><br>

	<% end %> 
	</p>
</div>



