<h1> Tutor's Index </h1>

<p>
<b>Students:</b> 
<% @students.each do |student| %> 

<ul>
	<strong>Name:</strong> <%= student.name %><br>
	<strong>Age:</strong>  <%= student.age %><br>
	<strong>Level:</strong>  <%= student.level %><br>
	<strong>Progress:</strong>  <%= student.progress %><br>
	<strong>Score:</strong>  <%= student.score %>
</ul>
<% end %>
</p>

<p>
<b>Feedback:</b> 
<% @comments.each do |comment| %> 

<ul>
	<strong>Title:</strong> <%= comment.title %><br> 
	<strong>Name:</strong> <%= comment.name %><br>
	<strong>Text:</strong> <%= comment.text %>
</ul>
<% end %>
</p>

<p>
<b>Posts:</b>
	<% @posts.each do |post| %> 
<ul>
	<strong>Title:</strong>
	  <%= post.title %><br>
	<strong>Name:</strong>
	  <%= post.name %><br>
	<strong>Text:</strong>
	  <%= post.text %>
	
</ul>
	<% end %>
</p>

<%= link_to 'Home', root_path %>