<h1> Tutor's Index </h1>

<h3>Students</h3>
<div id="students-titles">
<table> 
	<tr>
		<th>Name</th>
    	<th>Age</th>
		<th>Level</th>
		<th>Progress</th>
		<th>Score</th>
	</tr>
</div>

<div id="students-content">
	<% @students.each do |student| %> 
	<tr>
		<td><%= student.name %></td>
    	<td><%= student.age %></td>
		<td><%= student.level %></td>
		<td><%= student.progress %></td>
		<td><%= student.score %></td>
	</tr>

	<% end %>
</table><br>
</div>

<h3>Feedback</h3>
<div id="comments-titles">
<table> 
	<tr>
    <th>Name</th>
		<th>Title</th>
		<th>Text</th>
	</tr>
</div>

<div id="comments-content">
	<% @comments.each do |comment| %> 
	<tr>
    <td><%= comment.name %></td>
		<td><%= comment.title %></td>
		<td><%= comment.text %></td>
	</tr>

	<% end %>
</table><br>
</div>

<h3>Posts</h3>
<div id="posts-titles">
<table> 
	<tr>
    	<th>Name</th>
		<th>Title</th>
		<th>Text</th>
	</tr>
</div>

<div id="posts-content">
	<% @posts.each do |post| %> 
	<tr>
    	<td><%= post.name %></td>
		<td><%= post.title %></td>
		<td><%= post.text %></td>
	</tr>

	<% end %>
</table><br>
</div>

<%= link_to 'Home', root_path %>