
<div class="text-center">

  <h3>
    <img id="messages-logo" src="/images/messages.png" height="46" width="46"> Recent Answers </h3>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <table class="table"> 
           <% @answers.each do |answer| %> 

           <tr>
            <th><h4 class="text-center"><%= answer.title %><h4></th>
          </tr>
          <tr>
            <td>By: <b><%= answer.name %></b></td>
          </tr>
          <tr>  
            <td>Replied on: <%= answer.created_at.mday %>/<%= answer.created_at.month %>/<%= answer.created_at.year %>
            </td>
          </tr>
          <tr>

            <td><%= answer.text %></td>
          </tr>  
          <tr>
           <td><a href="/answers/new"><input type="button" value="Reply" id="reply-button"></a>
            <button type='button' id='like-button'> Like </button>
            <td id="likes">
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <ul class="pager">
    <li><a href="/home">Back</a></li>
  </ul>

  <script type="text/javascript">

  $('button#like-button').on('click', function() {
    alert('Thanks for your support!');
  });
  </script>

