<h1 class="text-center"> Answers to posts </h1>
<table class="table">
  <tr>
    <td>
		<p>
		  <strong>Title:</strong>
		  <%= @answer.title %>
		</p>

		 <p>
		  <strong>Name:</strong>
		  <%= @answer.name %>
		</p>

		<p>
		  <strong>Text:</strong>
		  <%= @answer.text %>
		</p>
	</td>
  </tr>
</table>

<hr>

<p>
    <%= link_to 'Edit', edit_answer_path(@answer)%> 
    <%= link_to 'Back', answers_path%>
</p>